.online-badge {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #1FE5BD;
  margin-right: 8px;
  margin-top: 2px;
}

.offline-badge {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-top: 2px;
  margin-right: 8px;
  background-color: white;
  opacity: .5;
}
